<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
    	body {
    		padding-top:80px;
    	}
    </style>
</head>
<body>
	<div class='container'>

		<div class='jumbotron text-center'>
			<h1><span class='fa fa-lock'></span> Node Authentication</h1>

			<p>Login or Register with:</p>

			<!--a href='/login' class='btn btn-default'><span class='fa fa-user'></span> Local Login</a>
			<a href='/signup' class='btn btn-default'><span class='fa fa-user'></span> Local Signup</a-->

			<a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
		</div><!-- jumbotron -->

	</div><!-- container -->
</body>
</html>